/* ------------- CUSTOM FONTS ------------- */

@font-face {
    font-family: UnileverDin; /*a name to be used later*/
    src: url("/plugins/YouScan/resource/fonts/UnileverDINOffcPro.ttf"); /*URL to font*/
}

/* ---------------------------------------- */

/* ------------ Dataiku Hacking ----------- */

.recipe-settings-section2 > a {
    display: none;
}
.dss-page {
    font-family: 'UnileverDin';
    background-image: url('/plugins/YouScan/resource/background_image.png');
    background-size: cover !important;
    /*background-size: 100%;*/
    background-repeat:no-repeat;
    background-position: center;
    background-color: white;
}

.recipe-editor-page .recipe-settings-section1 h1.recipe-settings-section1-title {
    height: 0px;
}

.recipe-settings-section1 {
    background-color: rgba(0, 0, 0, 0.0) !important;
    border: solid transparent !important;
}

.recipe-editor-page .recipe-settings-section1 h1.recipe-settings-section1-title {
    color: rgba(0,0,0,0) !important;
}

.custom-code-recipe-title {
  color: grey;
  width: max-content;
  border-bottom: 3px solid;
  border-bottom-color: rgb(200, 200, 200);
}


.recipe-settings-section1-title {
    margin: 0px;

}

.recipe-editor-page .w800 {
    height: 90%;
    background: rgba(237,237,237, 0.9) !important;
    border: solid !important;
    border-color: rgb(221, 221, 221) !important;
    border-width: thin !important;
    border-radius: 13px !important;
    padding: 20px !important;
    padding-top: 0px;
}

/* ---------------------------------- */

.cent-pad-5 {
    margin-bottom: auto !important;
    margin-top: auto !important;
    padding: 5px;
}


.ng-touched.ng-invalid-required {
    border-color: #ff0000;
}

.err-message {
    text-align: center;
    color: #ff0000;
}

.spinner-container {
    color: #808080;
    text-align: center;
    width: 90%;
    float: right;
}

.section-container {
    padding-bottom: 20px;

    /*border: 1px dashed green*/
}

.setting-label {
    width: 10%;
    text-align: center;
}

.setting-icon {
    padding: 0px 10px;
}

.setting-top {
    padding: 10px 10px;
}

#startDatePicker, #endDatePicker, #project-select, #search-text {
    height: 30px !important;
    font-size: 14px;
    width: 100%;
    padding: 4px 6px;
    box-sizing: border-box;
    border-radius: 4px !important;
    float: left;
}

#startDatePicker, #endDatePicker {
    float: left;
    width: 228px;
}

.setting-icon-hidden {
    color: rgba(0,0,0,0.04);
}

.separator {
    font-size: 16px;
    border-bottom: 1px solid rgb(200,200,200);
    width: max-content;
}

.datepicker-cell {
    padding-left: 10px;
}

.date-error-message, .icon-warning-sign {
    color: #ff0000;
    padding-top: 15px;
    padding-left: 45px;
}

label{
    font-family: 'UnileverDin';
}
.start_date_settings, .end_date_settings, .topic_settings{
    display: flex;
    flex-direction: row;
}