<link rel="stylesheet" type="text/css" href="/plugins/YouScan/resource/youscan_styling.css"/>
<link rel="stylesheet" type="text/css" href="/plugins/YouScan/resource/datepicker/jquery-ui.structure.min.css" />
<link rel="stylesheet" type="text/css" href="/plugins/YouScan/resource/datepicker/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/plugins/YouScan/resource/datepicker/jquery-ui.theme.min.css" />
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_green.css"/>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    $( function() {
        $( "#startDatePicker" ).datepicker();
        $( "#startDatePicker" ).datepicker("option", "dateFormat", "yy-mm-dd");

        $( "#endDatePicker" ).datepicker();
        $( "#endDatePicker" ).datepicker("option", "dateFormat", "yy-mm-dd");
    });

</script>

<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

<form name="youscanForm" ng-controller="YouScanFormController" ng-init="retrieveTopics()" autocomplete="off">
 <div class = "section-container required_settings">
     <label class=" separator icon-wrench"> REQUIRED DOWNLOAD SETTINGS</label>
      <p class="setting-top"> </p>

    <div class = "topic_settings icon-globe">
        <label class="rg-from setting-label"> Available Topics:</label>
        <select class = "setting-input" ng-model="config.selected_topic" ng-options="obj.id as obj.name for obj in available_topics">
        </select>
    </div>
      <p class="setting-top"> </p>

     <div class = "start_date_settings icon-calendar">
        <label class="rg-from setting-label"> Start date:</label>
        <input class = "setting-input" type="text" name = "config.start_date" ng-model="config.startDate" placeholder="Enter start date (YYYY-MM-DD)" id="startDatePicker"  ng-change="checkDates(config.startDate, config.endDate)"required />
     </div>
      <div class="date-error-message">
            <span ng-show="dateError"><i class="icon-warning-sign"></i>&nbsp;&nbsp;Start date must not be after end date.</span>
            <br ng-show="dateError && startDateFuture">
            <span ng-show="startDateFuture"><i class="icon-warning-sign"></i>&nbsp;&nbsp;Start date must not be in the future.</span>
        </div>
     <p class="setting-top"> </p>

     <div class = "end_date_settings icon-calendar">
        <label class="rg-from setting-label"> End date:</label>
        <input class = "setting-input" type="text" name = "config.end_date" ng-model="config.endDate" placeholder="Enter end date (YYYY-MM-DD)" id="endDatePicker"  ng-change="checkDates(config.startDate, config.endDate)"required />
        </div>
        <div class="date-error-message">
            <span ng-show="endDateFuture"><i class="icon-warning-sign"></i>&nbsp;&nbsp;End date must not be in the future.</span>
        </div>
        </div>
</form>